.formulario{
  margin-left: 24%;
  width: 50%;
  height: 50%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1%;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3); /* Añade una sombra */
}

form{
  width: 100%;
  height: 100%;
  max-width: 100%;
}
fieldset{
  width: 90%;
  border-radius: 20px;
  margin: 5% 2%;
  padding: 2%; 
}

legend{
 font-family: 'Lato', sans-serif;

}
input, select{
  width: 33%;
 font-size: 1em;
  
} 
.datos{
  margin:3%;

}
/*Usamos pseudoclases*/
input:focus, select:focus {
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  outline: none; /* Elimina el borde azul predeterminado */
}

.botones{
  margin: 5%;
}

button[type=submit],  button[type=reset]{
  background-color: whitesmoke;
  color: black;
  padding: 10px 20px;
  width: 150px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 13px;
  margin: 1%;
}

.radio_group{
  margin: 2%; 
  width: 40%;
}
input[type=checkbox]{
  margin:5% 10%;
  accent-color: gray;

}

