*{
  margin: 0 auto;
  font-family: monospace;

}
body{
  height: 100%;
  width: 100%;
 background-image:url('../imagenesfondo/fondo1.jpg');


}

header{
  width: 100% ;
  height: 30%;
  margin-bottom: 5%;
}
h1{
  color:crimson;
  font-size: 3em;
}
table{
  width: 100%;
  height: 100%;
}
td{
  width: 10%;
  height: 5%;
}
button{
  width: 100%;
  height:100%;
  background-color: white; /* Color de fondo */
  color: black; /* Color del texto */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
.visible{
  text-align:  center;
}

.container{
  max-width: 1280px;
  max-height: 720px;
  text-align: center;
  height: 100%;
}

.info h3 {
  font-size: 1.5em;
  color: black;
  margin-bottom: 10px;
}

.info ul {
  list-style-type: square; /* Cambia el estilo de las viñetas */
  padding-left: 20px; /* Aumenta el margen izquierdo para que no esté pegado al borde */
}

.info ul ul {
  list-style-type: circle; /* Cambia el estilo de las viñetas en las listas anidadas */
}

.info li {
  margin-bottom: 10px; /* Añade espacio entre los elementos */
  color: #333;
  font-size: 1.1em;
}

.info ul li ul li {
  color: #555; /* Color más claro para los subelementos */
  margin-bottom: 5px; /* Un poco menos de espacio en los subelementos */
}

.info {
  margin: 5%;
  width: 30%; /* Ajusta el ancho */
  float: left; /* Mueve la info a la derecha */
  text-align: left;
}

.recurso_imagen_inicio {
  background-image: url('../imagenesfondo/barcohundido.jpg');
  background-size: cover; /* Ajusta la imagen para que cubra todo el div */
  background-position: center; /* Centra la imagen en el div */
  background-repeat: no-repeat; 
  margin: 5% 10%;
  width: 400px; /* Ajusta el ancho */
  height: 100px; /* Elimina height para que la imagen se ajuste automáticamente */
  float: left;
  border: 1px solid black;
  padding: 10px; /* Añade padding para espacio interno */
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3); /* Añade una sombra */
}
.stats {
  background-color: whitesmoke;
  border-collapse: collapse; /* Estilo específico para la tabla stats */
  width: 50%;
  margin: 2% 25%;
}

.stats td{
  padding: 3%; /* Solo se aplica a las celdas de la tabla stats */
  border: 1px solid black; 
}
caption{
  margin: 5%;
}
.desastres{
  color:crimson;
}


